#components {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#searchContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem;
}

.componentsDescript {
  background-color: rgb(52, 84, 138);
  color: white;
  padding: 0.3rem;
}

.arrow {
  font-size: 2rem;
  color: white;
  transform: rotate(90deg);
}

a {
  text-decoration: none;
}

#keys,
#values {
  width: 50%;
  font-size: 2rem;
  color: white;
}

#values {
  font-family: 'Courier New', Courier, monospace;
}
