#components {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#components li {
  background-color: rgb(65, 106, 175);
  color: rgb(229, 229, 229);
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.componentsDescript {
  background-color: rgb(52, 84, 138);
  color: white;
  padding: 0.3rem;
}

.keys,
.values {
  font-size: 2rem;
}

.keys {
  font-family: sans-serif;
}

.values {
  font-family: 'Courier New', Courier, monospace;
}

.key,
.value {
  padding: 2rem;
}
