#components {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#components li {
  background-color: rgb(65, 106, 175);
  color: rgb(229, 229, 229);
}

#searchContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem;
}

.componentsDescript {
  background-color: rgb(52, 84, 138);
  color: white;
  padding: 0.3rem;
}

.keys,
.values {
  font-size: 2rem;
}

.keys {
  font-family: sans-serif;
  padding: 0 5rem 0 0;
}

.values {
  font-family: 'Courier New', Courier, monospace;
  padding: 0 0 0 5rem;
}

.key,
.value {
  padding: 2rem;
}

.key2,
.value {
  background-color: rgb(62, 100, 165);
  padding: 2rem;
}

.arrow {
  font-size: 2rem;
  color: white;
  transform: rotate(90deg);
}

a {
  text-decoration: none;
}