#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(66, 106, 177);
}

#countries {
  display: flex;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  justify-content: center;
}

.reference {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(84, 136, 225);
}

.reference h2 {
  max-width: 20rem;
}

.latinAmerica {
  width: 10rem;
  height: 10rem;
  background-image: url('../maps/america-latina.png');
  background-repeat: no-repeat;
  background-size: 10rem;
}

.stats {
  background-color: rgb(52, 84, 138);
  color: white;
  padding: 0.3rem;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  padding: 0 0 2rem 0;
}

.countriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(65, 106, 175);
}

.countriesContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(62, 100, 165);
}

.country {
  max-width: 50%;
  color: white;
}

.btn {
  width: 20rem;
}

a {
  display: flex;
  max-width: 50%;
}

.micro,
.cog {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: white;
}